@import 'assets_styles.css';

/* TEST */
.testborder {
    border: 2px solid yellow;
}

/* Theme */
.ft-dark {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #9fa8b1;
    background: #252830;
}

/* HTML */
html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 310px; /* height of footer */
}

@media screen and (max-width: 576px) {
    body {
        padding-bottom: 550px; /* height of footer */
    }
}

/* Main */
.main-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Navbar */
.ft-navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 2px;
}

.ft-dark .ft-navbar-dark-bg {
    background-color: rgba(22,24,29,0.75);
}

.ft-dark .ft-nav-item-dark, .ft-nav-link-dark {
    color: #cfd2da !important;
}

.ft-dark .ft-dropdown-menu-dark {
    background-color:  rgb(22,24,29);
}

.ft-dark .ft-dropdown-menu-dark .dropdown-divider {
    border-top: 1px solid #424857;
    margin: 0 auto;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.ft-dark .ft-dropdown-menu-dark .dropdown-item {
    color: #cfd2da !important;
    font-size: 13px; 
}

.ft-dark .ft-dropdown-menu-dark .dropdown-item:hover {
    cursor: pointer;
    background-color: #51586a;
}

.flag-lang {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
}

/* Second navbar */
.qckfilter-container {
    font-size: 12px !important;
}

.ft-dark .qckfilter-container a {
    color: #ced3d7;
}

.center-elements {
    display: table; 
    margin:0 auto;
}

/* Tables */
#table-container {
    margin-top: 12px;
    margin-bottom: 12px;
}

.ft-dark #table-container thead th>a {
    color: #ced3d7;
}

.ft-dark #table-container>table{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.ft-dark #table-container thead {
    text-align: center;
    background: #595a5a;
    padding: 5px;
    border: 1px solid black;
}

.ft-dark #table-container th {
    border: 1px solid black;
}

.ft-dark #table-container tr {
    border: 1px solid black;
}

.ft-dark tr:hover { 
    background-color: #252900 !important; 
}

.ft-dark #table-container tr:nth-of-type(even) {
    background-color:rgb(56, 54, 56);
}

.teamplayerstable>thead>tr {
    cursor: pointer;
}

/* Filters */
.ft-dark .card-container.bg-dark .nav-tabs.card-header-tabs>.nav-item .active {
    background-color: #343a40!important;
    border-color: #2c3237 #2c3237 #343a40;
}

.ft-dark .card-container.bg-dark .nav-tabs.card-header-tabs>.nav-item>.nav-link {
    color: #9fa8b1;
}

.ft-dark .card-container.bg-dark .nav-tabs.card-header-tabs>.nav-item *:hover {
    background-color: #343a40!important;
    border-color: #2c3237;
}

.card-container .responsivetabs-more {
    padding-left: 10px;
}

.card-container label,h3 {
    padding-top: 10px;
}

.maxresults .selectize-control {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    width: 100%;
}

.input-group.justified {
    width: 100%;
}

.input-group.justified>input {
    width: 50%;
}

/* Discord Widget */
#discord {
    margin-top: 12px;
}

/* Footer */
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 310px;
    background-color: #131313;
    color: #aaa;
}

@media screen and (max-width: 576px) {
    #footer {
        height: 550px;
    }
}

#footer>.container{
    padding-top: 15px;
}

#footer ul>li {
    margin-left: 10px;
}

/* Font Awesome Icons padding */
span.fas,
span.fab {
    padding-right: 5px;
}

/* Labels */
.onloanlabel {
    display: inline-block;
    background: #0cc54a;
    color: #000;
    text-align: center;
    width: 26px;
    border-radius: 8px;
    margin-right: 5px;
}

.ratinglabel {
    display: inline-block;
    padding: 0px 4px;
    width: 27px;
    color: white;
}

.rat0, .rat1, .rat2, .rat3, .rat4, .rat5, .rat6, .rat7, .rat8, .rat9, .rat10,
.rat11, .rat12, .rat13, .rat14, .rat15, .rat16, .rat17, .rat18, .rat19, .rat20,
.rat21, .rat22, .rat23, .rat24, .rat25, .rat26, .rat27, .rat28, .rat29, .rat30, 
.rat31, .rat32, .rat33, .rat34, .rat35, .rat36, .rat37, .rat38, .rat39, .rat40, 
.rat41, .rat42, .rat43, .rat44, .rat45, .rat46, .rat47, .rat48, .rat49 {
    background-color: red;
}

.rat50, .rat51, .rat52, .rat53, .rat54, .rat55, .rat56, .rat57, .rat58, .rat59, .rat60,
.rat61, .rat62, .rat63, .rat64 {
    background-color: orange;
}

.rat65, .rat66, .rat67, .rat68, .rat69, .rat70, .rat71, .rat72, .rat73, .rat74, .rat75, 
.rat76, .rat77, .rat78, .rat79 {
    background-color: yellowgreen;
}

.rat80, .rat81, .rat82, .rat83, .rat84, .rat85, .rat86, .rat87, .rat88, .rat89 {
    background-color: green;
}

.rat90, .rat91, .rat92, .rat93, .rat94, .rat95, .rat96, .rat97, .rat98, .rat99 {
    background-color: darkgreen;
}

/* Tooltip */
.tooltip-span {
    padding-left: 5px;
}

/* Rest */
.padding-top5 {
    padding-top: 5px;
}

.padding-top15 {
    padding-top: 15px;
}

.padding-top12 {
    padding-top: 12px;
}

.padr-5 {
    padding-right: 5px;
}