html {
	position: relative;
	min-height: 100%;
}

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #686868;
	background: #252830;
	margin-bottom: 40px;
}

.crest {
	width: 27px;
    height: 27px;
}

.flag {
	width: 27px;
    height: 27px;
}

#table-container>table{
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid black;
}

#table-container thead {
	text-align: center;
	background: #595a5a;
	padding: 5px;
	border: 1px solid black;
}

#table-container tr {
	border: 1px solid black;
}

#table-container tr:nth-of-type(even) {
	background-color:rgb(56, 54, 56);
}

.mytooltip {
    position: relative;
    display: inline-block;
}

.mytooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #000;
    color: #c4c4c4;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    top: -5px;
    left: 130%; 

    position: absolute;
    z-index: 1;
}

.mytooltip:hover .tooltiptext {
    visibility: visible;
}

.onloanlabel {
    background: #0cc54a;
    color: #000;
    text-align: center;
    width: 26px;
    border-radius: 8px;
    margin-right: 5px;
}

.ratinglabel {
    padding: 4px;
    color: white;
}

.rat0, .rat1, .rat2, .rat3, .rat4, .rat5, .rat6, .rat7, .rat8, .rat9, .rat10,
.rat11, .rat12, .rat13, .rat14, .rat15, .rat16, .rat17, .rat18, .rat19, .rat20,
.rat21, .rat22, .rat23, .rat24, .rat25, .rat26, .rat27, .rat28, .rat29, .rat30, 
.rat31, .rat32, .rat33, .rat34, .rat35, .rat36, .rat37, .rat38, .rat39, .rat40, 
.rat41, .rat42, .rat43, .rat44, .rat45, .rat46, .rat47, .rat48, .rat49 {
    background-color: red;
}

.rat50, .rat51, .rat52, .rat53, .rat54, .rat55, .rat56, .rat57, .rat58, .rat59, .rat60,
.rat61, .rat62, .rat63, .rat64 {
    background-color: orange;
}

.rat65, .rat66, .rat67, .rat68, .rat69, .rat70, .rat71, .rat72, .rat73, .rat74, .rat75, 
.rat76, .rat77, .rat78, .rat79 {
    background-color: yellowgreen;
}

.rat80, .rat81, .rat82, .rat83, .rat84, .rat85, .rat86, .rat87, .rat88, .rat89 {
    background-color: green;
}

.rat90, .rat91, .rat92, .rat93, .rat94, .rat95, .rat96, .rat97, .rat98, .rat99 {
    background-color: darkgreen;
}

.top-container {
    padding-top: 80px;
}

.input-group.justified {
    width: 100%;
}

.input-group.justified>input {
    width: 50%;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #16181dcc;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 2px;
}

.navbar-nav .dropdown-menu {
    background: #16181d;
    text-align: right;
    padding-right: 11px;
    font-size: 12px;
}

.dropdown-item {
    cursor: pointer;
    color: #9ea5b6 !important; 
}

.dropdown-item-active {
    cursor: pointer;
    color: #f44 !important;
}

.navbar-nav .dropdown-menu .dropdown-header {
    position: relative;
    z-index: 1;
}

.navbar-nav .dropdown-menu .dropdown-header>span {
    background-color: #16181d;
    color: #586074;
    padding: 0 7px; 
}

.navbar-nav .dropdown-menu .dropdown-header::before {
    border-top: 1px solid #424857;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.navbar li>a, .navbar { 
    color: #cfd2da !important;
    font-size: 15px;
}
.navbar-nav li a:hover {
    color: #0cc54a !important;
}
.navbar-nav li.active a {
    color: #000 !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #000 !important;
	background-color: #0cc54a;
}

.navbar-brand {
    padding: 10px 5px;
}

.glyphicon-user {
    padding-right: 5px;
}

.bg-1 {
    color: #bdbdbd;
}

.footer {
    background-color: #131313;
    color: #aaa; 
	position:absolute;
    bottom: 0;
	width:100%;
	line-height: 30px; /* Vertically center the text there */
}