@import 'assets_styles.css';

h2, .h2 {
    margin: 0 auto 20px;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 0 10px;
    font-size: 24px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

input {
    width: 100%;
    color: black;
    margin-bottom: 5px;
}

#playerinfo-header {
    column-span: 2;
    text-align: center;
}

#footballpitch {
    background: url("/static/img/web-assets/football-pitch.png") no-repeat;
    height: 605px;
    margin-top: 20px;
}

#pitch-igr-27 {
    position: absolute;
    left: 21px;
    bottom: 535px;
    width: 85px;
    text-align: center;
}

#pitch-igr-26 {
    position: absolute;
    left: 167px;
    bottom: 535px;
    width: 85px;
    text-align: center;
}

#pitch-igr-25 {
    position: absolute;
    left: 268.5px;
    bottom: 535px;
    width: 85px;
    text-align: center;
}

#pitch-igr-24 {
    position: absolute;
    left: 370px;
    bottom: 535px;
    width: 85px;
    text-align: center;
}

#pitch-igr-23 {
    position: absolute;
    left: 510px;
    bottom: 535px;
    width: 85px;
    text-align: center;
}

#pitch-igr-22 {
    position: absolute;
    left: 167px;
    bottom: 465px;
    width: 85px;
    text-align: center;
}

#pitch-igr-21 {
    position: absolute;
    left: 268.5px;
    bottom: 445px;
    width: 85px;
    text-align: center;
}

#pitch-igr-20 {
    position: absolute;
    left: 370px;
    bottom: 465px;
    width: 85px;
    text-align: center;
}

#pitch-igr-19 {
    position: absolute;
    left: 167px;
    bottom: 382px;
    width: 85px;
    text-align: center;
}

#pitch-igr-18 {
    position: absolute;
    left: 268.5px;
    bottom: 382px;
    width: 85px;
    text-align: center;
}

#pitch-igr-17 {
    position: absolute;
    left: 370px;
    bottom: 382px;
    width: 85px;
    text-align: center;
}

#pitch-igr-16 {
    position: absolute;
    left: 21px;
    bottom: 292px;
    width: 85px;
    text-align: center;
}

#pitch-igr-15 {
    position: absolute;
    left: 167px;
    bottom: 292px;
    width: 85px;
    text-align: center;
}

#pitch-igr-14 {
    position: absolute;
    left: 268.5px;
    bottom: 292px;
    width: 85px;
    text-align: center;
}

#pitch-igr-13 {
    position: absolute;
    left: 370px;
    bottom: 292px;
    width: 85px;
    text-align: center;
}

#pitch-igr-12 {
    position: absolute;
    left: 510px;
    bottom: 292px;
    width: 85px;
    text-align: center;
}

#pitch-igr-11 {
    position: absolute;
    left: 167px;
    bottom: 227px;
    width: 85px;
    text-align: center;
}

#pitch-igr-10 {
    position: absolute;
    left: 268.5px;
    bottom: 227px;
    width: 85px;
    text-align: center;
}

#pitch-igr-9 {
    position: absolute;
    left: 370px;
    bottom: 227px;
    width: 85px;
    text-align: center;
}

#pitch-igr-8 {
    position: absolute;
    left: 21px;
    bottom: 195px;
    width: 85px;
    text-align: center;
}

#pitch-igr-7 {
    position: absolute;
    left: 35px;
    bottom: 120px;
    width: 85px;
    text-align: center;
}

#pitch-igr-6 {
    position: absolute;
    left: 167px;
    bottom: 120px;
    width: 85px;
    text-align: center;
}

#pitch-igr-5 {
    position: absolute;
    left: 268.5px;
    bottom: 120px;
    width: 85px;
    text-align: center;
}

#pitch-igr-4 {
    position: absolute;
    left: 370px;
    bottom: 120px;
    width: 85px;
    text-align: center;
}

#pitch-igr-3 {
    position: absolute;
    left: 501px;
    bottom: 120px;
    width: 85px;
    text-align: center;
}

#pitch-igr-2 {
    position: absolute;
    left: 510px;
    bottom: 195px;
    width: 85px;
    text-align: center;
}

#pitch-igr-0 {
    position: absolute;
    left: 268.5px;
    bottom: 33px;
    width: 85px;
    text-align: center;
}