{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div id="SignUp" class="container">
		<div class="main_row">
			<h2>Login</h2>
			<form method="post" novalidate>
			{% if form.errors %}
				{{ form.non_field_errors }}
			{% endif %}
				{% csrf_token %}
				{% include "includes/form.html" %}
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<p align="center">Lost Password?</p>
			<p align="center"><a href="{% url 'signup' %}">Create New Account</a> </p>
		</div>
  </div>
{% endblock %}