{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block content %}
	<div id="table-container" class="container">
		<table>
			<thead>
				<tr>
					<td colspan ="3">PLAYER</th>
					<th class="text-center">RAT</th>
					<th class="text-center">POT</th>
					<th class="text-center">AGE</th>
					<th class="text-center">CONTRACT</th>
					<th class="text-center">VALUE</th>
				</tr>
			</thead>
			<tbody>
				{% for p in players %}
					<tr>
						<td width="65"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/heads/p{{ p.player.playerid }}.png" title="{{ p.player.playerid }}" class="miniface" onerror="faceNotFound(this, {% get_static_prefix %});"</a></td>
						<td class="player-position text-center" width="65">{{ p.player.preferredposition1 }}</td>
						<td width="250">
							<div>
								<img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" class="flag">
								<a href="{% url 'players' %}{{p.player.playerid}}">{{ p.player_name.knownas}}</a>
							</div>
							<div class="player-position">
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" title="{{ p.player_teams.club_team.teamname }}" class="crest">
								{{ p.player.preferredposition1 }}{% if p.player.preferredposition2 != -1 %} | {{ p.player.preferredposition2 }}{% endif %}{% if p.player.preferredposition3 != -1 %} | {{ p.player.preferredposition3 }}{% endif %}{% if p.player.preferredposition4 != -1 %} | {{ p.player.preferredposition4 }}{% endif %}
							</div>
						</td>
						<td class="text-center">{{ p.player.overallrating }}</td>
						<td class="text-center">{{ p.player.potential }}</td>
						<td class="text-center">{{ p.player_age.age }}</td>
						<td class="text-center">
							<div>
								{% if p.player_contract.isloanedout %}
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_contract.loanedto_clubid }}.png" title="On Loan at: {{p.player_contract.loanedto_clubname}}" class="crest">
								{% else %}
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" title="{{ p.player_teams.club_team.teamname }}" class="crest">
								{% endif %}
								{{ p.player_contract.jointeamdate }} - {{p.player_contract.enddate}}
							</div>
						</td>
						<td class="text-center">
							<div>
								{{ p.player_value.formated_value }} &euro;
							</div>
							<div>
								{{ p.player_wage.formated_wage }} &euro;
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}