{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js\selectize.min.js' %}"></script>
	<script>
		$( function() {
			$("#positions-input").selectize({
				delimiter: ',',
				persist: false,
				valueField: 'posid',
				labelField: 'position',
				searchField: ['posid', 'position'],
				options: [
					{ position: 'GK', 	posid: '0'},
					{ position: 'SW', 	posid: '1'},
					{ position: 'RWB', 	posid: '2'},
					{ position: 'RB', 	posid: '3'},
					{ position: 'RCB', 	posid: '4'},
					{ position: 'CB', 	posid: '5'},
					{ position: 'LCB', 	posid: '6'},
					{ position: 'LB', 	posid: '7'},
					{ position: 'LWB', 	posid: '8'},
					{ position: 'RDM', 	posid: '9'},
					{ position: 'CDM', 	posid: '10'},
					{ position: 'LDM', 	posid: '11'},
					{ position: 'RM', 	posid: '12'},
					{ position: 'RCM', 	posid: '13'},
					{ position: 'CM', 	posid: '14'},
					{ position: 'LCM', 	posid: '15'},
					{ position: 'LM', 	posid: '16'},
					{ position: 'RAM', 	posid: '17'},
					{ position: 'CAM', 	posid: '18'},
					{ position: 'LAM', 	posid: '19'},
					{ position: 'RF', 	posid: '20'},
					{ position: 'CF', 	posid: '21'},
					{ position: 'LF', 	posid: '22'},
					{ position: 'RW', 	posid: '23'},
					{ position: 'RS', 	posid: '24'},
					{ position: 'ST', 	posid: '25'},
					{ position: 'LS', 	posid: '26'},
					{ position: 'LW', 	posid: '27'},
				],
				render: {
					item: function(item, escape) {
						return '<div>' +
							(item.position ? '<span class="position">' + escape(item.position) + '</span>' : '') +
							'/div';
					},
					option: function (item, escape) {
						return '<div>' +
							(item.position ? '<span class="caption">' + escape(item.position) + '</span>' : '') +
							'</div>';
					},
				},
			});

			$( "#nationality-input").selectize({
				valueField: 'nationid',
				labelField: 'nationname',
				searchField: 'nationname',
				options: [],
				create: false,
				render: {
					option: function(item, escape) {
						return '<div>' +
							(item.nationname ? '<span class="nationname">' + escape(item.nationname) + '</span>' : '') +
						'</div>';
					}
				},
				load: function(query, callback) {
					if (!query.length) return callback();
					$.ajax({
						url: 'ajax/nationality/',
						dataType: 'json',
						error: function() {
							callback();
						},
						success: function (res) {
						  callback(res.nations);
						}
					});
				}
			});

			$( "#tabs" ).tabs();
			$(".slider-range-attrib").slider({
				range: true,
				min: 1,
				max: 99,
				values: [1, 99],
			});
			$(".slider-range-height").slider({
				range: true,
				min: 130,
				max: 215,
				values: [130, 215],
			});
			$(".slider-range-weight").slider({
				range: true,
				min: 30,
				max: 115,
				values: [30, 115],
			});
			$(".slider-range-age").slider({
				range: true,
				min: 1,
				max: 99,
				values: [15, 45],
			});

			// Filter Player Rating //

			$("#slider-range-ovr").slider({
				slide: function (event, ui) {
					$("input[name='overallrating__gte']").val(ui.values[0]);
					$("input[name='overallrating__lte']").val(ui.values[1]);
				}
			});
			$("input[name='overallrating__gte']").on("change input keyup", function() {
				$("#slider-range-ovr").slider('values',0,this.value);
			});
			$("input[name='overallrating__lte']").on("change input keyup", function() {
				$("#slider-range-ovr").slider('values',1,this.value);
			});
			
			$("#slider-range-ovr").slider('values',0,$("input[name='overallrating__gte']").val());
			$("#slider-range-ovr").slider('values',1,$("input[name='overallrating__lte']").val());

			// Filter Player Potential //

			$("#slider-range-pot").slider({
				slide: function (event, ui) {
					$("input[name='potential__gte']").val(ui.values[0]);
					$("input[name='potential__lte']").val(ui.values[1]);
				}
			});
			$("input[name='potential__gte']").on("input keyup", function() {
				$("#slider-range-pot").slider('values',0,this.valueAsNumber);
			});
			$("input[name='potential__lte']").on("input keyup", function() {
				$("#slider-range-pot").slider('values',1,this.valueAsNumber);
			});

			$("#slider-range-pot").slider('values',0,$("input[name='potential__gte']").val());
			$("#slider-range-pot").slider('values',1,$("input[name='potential__lte']").val());

			// Filter Player HEIGHT //

			$("#slider-range-height").slider({
				slide: function (event, ui) {
					$("input[name='height__gte']").val(ui.values[0]);
					$("input[name='height__lte']").val(ui.values[1]);
				}
			});
			$("input[name='height__gte']").on("change input keyup", function () {
				$("#slider-range-height").slider('values', 0, this.value);
			});
			$("input[name='height__lte']").on("change input keyup", function () {
				$("#slider-range-height").slider('values', 1, this.value);
			});

			$("#slider-range-height").slider('values', 0, $("input[name='height__gte']").val());
			$("#slider-range-height").slider('values', 1, $("input[name='height__lte']").val());

			// Filter Player WEIGHT //

			$("#slider-range-weight").slider({
				slide: function (event, ui) {
					$("input[name='weight__gte']").val(ui.values[0]);
					$("input[name='weight__lte']").val(ui.values[1]);
				}
			});
			$("input[name='weight__gte']").on("change input keyup", function () {
				$("#slider-range-weight").slider('values', 0, this.value);
			});
			$("input[name='weight__lte']").on("change input keyup", function () {
				$("#slider-range-weight").slider('values', 1, this.value);
			});

			$("#slider-range-weight").slider('values', 0, $("input[name='weight__gte']").val());
			$("#slider-range-weight").slider('values', 1, $("input[name='weight__lte']").val());

			// Filter Player AGE //

			$("#slider-range-age").slider({
				slide: function (event, ui) {
					$("input[name='age_min']").val(ui.values[0]);
					$("input[name='age_max']").val(ui.values[1]);
				}
			});
			$("input[name='age_min']").on("change input keyup", function () {
				$("#slider-range-age").slider('values', 0, this.value);
			});
			$("input[name='age_max']").on("change input keyup", function () {
				$("#slider-range-age").slider('values', 1, this.value);
			});

			$("#slider-range-age").slider('values', 0, $("input[name='age_min']").val());
			$("#slider-range-age").slider('values', 1, $("input[name='age_max']").val());

		  } );
	</script>
{% endblock %}

{% block content %}
	<div class="container-fluid top-container">
		<form method="get">
			<div class="well">
				<h4 style="margin-top: 0">Filter Players</h4>
				<div id="tabs">
					<ul>
						<li>
							<a href="#tabs-1">Player Info</a>
						</li>
						<li>
							<a href="#tabs-2">Player Attributes</a>
						</li>
						<li>
							<a href="#tabs-3">For Geeks</a>
						</li>
					</ul>
					<div id="tabs-1">
						<div class="form-group row">
							<div class="col-md-6">
								<div class="pull-left">
									<label>OVR:</label>
								</div>
								<div class="pull-right">
									<input class="input-small input-attrib" type="number" min="1" max="99" name="overallrating__gte" value="{{ request_query_dict.overallrating__gte }}" placeholder="Min">
									<input class="input-small input-attrib" type="number" min="1" max="99" name="overallrating__lte" value="{{ request_query_dict.overallrating__lte }}" placeholder="Max">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="slider-range-attrib" id="slider-range-ovr"></div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="pull-left">
									<label>POT:</label>
								</div>
								<div class="pull-right">
									<input class="input-small input-attrib" type="number" min="1" max="99" name="potential__gte" value="{{ request_query_dict.potential__gte }}" placeholder="Min">
									<input class="input-small input-attrib" type="number" min="1" max="99" name="potential__lte" value="{{ request_query_dict.potential__lte }}" placeholder="Max">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="slider-range-attrib" id="slider-range-pot"></div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<input class="input-medium" id='positions-input' name="preferredpositions" placeholder="Position(s)">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<input class="input-medium" id='nationality-input' name="nationalityid" placeholder="Nationality">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="pull-left">
									<label>HEIGHT:</label>
								</div>
								<div class="pull-right">
									<input class="input-small input-attrib" type="number" min="130" max="215" name="height__gte" value="{{ request_query_dict.height__gte }}" placeholder="Min">
									<input class="input-small input-attrib" type="number" min="130" max="215" name="height__lte" value="{{ request_query_dict.height__lte }}" placeholder="Max">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="slider-range-height" id="slider-range-height"></div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="pull-left">
									<label>WEIGHT:</label>
								</div>
								<div class="pull-right">
									<input class="input-small input-attrib" type="number" min="30" max="115" name="weight__gte" value="{{ request_query_dict.weight__gte }}" placeholder="Min">
									<input class="input-small input-attrib" type="number" min="30" max="115" name="weight__lte" value="{{ request_query_dict.weight__lte }}" placeholder="Max">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="slider-range-weight" id="slider-range-weight"></div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="pull-left">
									<label>AGE:</label>
								</div>
								<div class="pull-right">
									<input class="input-small input-attrib" type="number" min="1" max="99" name="age_min" value="{{ request_query_dict.age_min }}" placeholder="Min">
									<input class="input-small input-attrib" type="number" min="1" max="99" name="age_max" value="{{ request_query_dict.age_max }}" placeholder="Max">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<div class="slider-range-attrib" id="slider-range-age"></div>
							</div>
						</div>
					</div>
					<div id="tabs-2">
						<div class="row">
						</div>
					</div>
					<div id="tabs-3">
						<div class="row">
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
			</div>
		</form>
	</div> 
	{% comment %} 		
	<form id="player_filter">
			<div class="row">
				<div class="col-md-6 col-xs-4">
					<input type="text" name="name" placeholder="Name...">
				</div>
				<div class="col-md-6 col-xs-8">
					<button class="btn btn-primary btn-search">Search <span class="glyphicon glyphicon-search"></span></button>
					<button class="btn btn-primary btn-search-adv">More <span class="glyphicon glyphicon-chevron-down"></span></button>
				</div>
			</div>
		</form>	
	{% endcomment %}

	<div class="pagination">
		<span class="step-links">
			{% if paginator.has_previous %}
				<a href="?page=1{{ paginator.request_filters }}">&laquo; first</a>
				<a href="?page={{ paginator.previous_page_number }}{{ paginator.request_filters }}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ paginator.page }} of {{ paginator.last_page_number }}.
			</span>
	
			{% if paginator.has_next %}
				<a href="?page={{ paginator.next_page_number }}{{ paginator.request_filters }}">next</a>
				<a href="?page={{ paginator.last_page_number }}{{ paginator.request_filters }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>

	<div id="table-container" class="container-fluid">
		<table>
			<thead>
				<tr>
					<td colspan ="3">PLAYER</th>
					<th class="text-center">RAT</th>
					<th class="text-center">POT</th>
					<th class="text-center">AGE</th>
					<th class="text-center">CONTRACT</th>
					<th class="text-center">VALUE</th>
				</tr>
			</thead>
			<tbody>
				{% for p in players %}
					<tr>
						<td width="65"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/{{ p.headshot }}" title="{{ p.player.playerid }}" class="miniface" onerror="faceNotFound(this, {% get_static_prefix %});"</a></td>
						<td class="player-position text-center" width="65">{{ p.player.preferredposition1 }}</td>
						<td width="250">
							<div>
								<img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" class="flag">
								<a href="{% url 'players' %}{{p.player.playerid}}">{{ p.player_name.knownas}}</a>
							</div>
							<div class="player-position">
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" title="{{ p.player_teams.club_team.teamname }}" class="crest">
								{{ p.player.preferredposition1 }}
								{% if p.player.preferredposition2 != -1 %} | {{ p.player.preferredposition2 }}{% endif %}
								{% if p.player.preferredposition3 != -1 %} | {{ p.player.preferredposition3 }}{% endif %}
								{% if p.player.preferredposition4 != -1 %} | {{ p.player.preferredposition4 }}{% endif %}
							</div>
						</td>
						<td class="text-center">{{ p.player.overallrating }}</td>
						<td class="text-center">{{ p.player.potential }}</td>
						<td class="text-center">{{ p.player_age.age }}</td>
						<td class="text-center">
							<div>
								{% if p.player_contract.isloanedout %}
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_contract.loanedto_clubid }}.png" title="On Loan at: {{p.player_contract.loanedto_clubname}}" class="crest">
								{% else %}
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" title="{{ p.player_teams.club_team.teamname }}" class="crest">
								{% endif %}
								{{ p.player_contract.jointeamdate }} - {{p.player_contract.enddate}}
							</div>
						</td>
						<td class="text-center">
							<div>
								{{ p.player_value.formated_value }} &euro;
							</div>
							<div>
								{{ p.player_wage.formated_wage }} &euro;
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}