{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js\selectize.min.js' %}"></script>
	<script>
		$( function() {
			$('#select-isretiring').selectize();

			$("#positions-input").selectize({
				delimiter: ',',
				persist: false,
				valueField: 'posid',
				labelField: 'position',
				searchField: ['posid', 'position'],
				options: [
					{ position: 'GK', 	posid: '0'},
					{ position: 'SW', 	posid: '1'},
					{ position: 'RWB', 	posid: '2'},
					{ position: 'RB', 	posid: '3'},
					{ position: 'RCB', 	posid: '4'},
					{ position: 'CB', 	posid: '5'},
					{ position: 'LCB', 	posid: '6'},
					{ position: 'LB', 	posid: '7'},
					{ position: 'LWB', 	posid: '8'},
					{ position: 'RDM', 	posid: '9'},
					{ position: 'CDM', 	posid: '10'},
					{ position: 'LDM', 	posid: '11'},
					{ position: 'RM', 	posid: '12'},
					{ position: 'RCM', 	posid: '13'},
					{ position: 'CM', 	posid: '14'},
					{ position: 'LCM', 	posid: '15'},
					{ position: 'LM', 	posid: '16'},
					{ position: 'RAM', 	posid: '17'},
					{ position: 'CAM', 	posid: '18'},
					{ position: 'LAM', 	posid: '19'},
					{ position: 'RF', 	posid: '20'},
					{ position: 'CF', 	posid: '21'},
					{ position: 'LF', 	posid: '22'},
					{ position: 'RW', 	posid: '23'},
					{ position: 'RS', 	posid: '24'},
					{ position: 'ST', 	posid: '25'},
					{ position: 'LS', 	posid: '26'},
					{ position: 'LW', 	posid: '27'},
				],
				render: {
					item: function(item, escape) {
						return '<div>' +
							(item.position ? '<span class="position">' + escape(item.position) + '</span>' : '') +
							'/div';
					},
					option: function (item, escape) {
						return '<div>' +
							(item.position ? '<span class="caption">' + escape(item.position) + '</span>' : '') +
							'</div>';
					},
				},
			});

			$( "#awr-input").selectize({
				delimiter: ',',
				persist: false,
				valueField: 'workrateValue',
				labelField: 'workrate',
				searchField: ['workrateValue', 'workrate'],
				options: [
					{ workrate: 'Low', 			workrateValue: '1'},
					{ workrate: 'Medium', 		workrateValue: '0'},
					{ workrate: 'High', 		workrateValue: '2'},
				],
				render: {
					item: function(item, escape) {
						return '<div>' +
							(item.workrate ? '<span class="workrate">' + escape(item.workrate) + '</span>' : '') +
							'/div';
					},
					option: function (item, escape) {
						return '<div>' +
							(item.workrate ? '<span class="caption">' + escape(item.workrate) + '</span>' : '') +
							'</div>';
					},
				},
			})

			$( "#dwr-input").selectize({
				delimiter: ',',
				persist: false,
				valueField: 'workrateValue',
				labelField: 'workrate',
				searchField: ['workrateValue', 'workrate'],
				options: [
					{ workrate: 'Low', 			workrateValue: '1'},
					{ workrate: 'Medium', 		workrateValue: '0'},
					{ workrate: 'High', 		workrateValue: '2'},
				],
				render: {
					item: function(item, escape) {
						return '<div>' +
							(item.workrate ? '<span class="workrate">' + escape(item.workrate) + '</span>' : '') +
							'/div';
					},
					option: function (item, escape) {
						return '<div>' +
							(item.workrate ? '<span class="caption">' + escape(item.workrate) + '</span>' : '') +
							'</div>';
					},
				},
			})

			$( "#nationality-input").selectize({
				valueField: 'nationid',
				labelField: 'nationname',
				searchField: 'nationname',
				options: [],
				create: false,
				render: {
					option: function(item, escape) {
						return '<div>' +
							(item.nationname ? '<span class="nationname">' + escape(item.nationname) + '</span>' : '') +
						'</div>';
					}
				},
				load: function(query, callback) {
					if (!query.length) return callback();
					$.ajax({
						url: 'ajax/nationality/',
						dataType: 'json',
						error: function() {
							callback();
						},
						success: function (res) {
						  callback(res.nations);
						}
					});
				}
			});

			$("#leagues-input").selectize({
				valueField: 'leagueid',
				labelField: 'leaguename',
				searchField: 'leaguename',
				options: [],
				create: false,
				render: {
					option: function (item, escape) {
						return '<div>' +
							(item.leaguename ? '<span class="leaguename">' + escape(item.leaguename) + '</span>' : '') +
							'</div>';
					}
				},
				load: function (query, callback) {
					if (!query.length) return callback();
					$.ajax({
						url: 'ajax/leagues/',
						dataType: 'json',
						error: function () {
							callback();
						},
						success: function (res) {
							callback(res.leagues);
						}
					});
				}
			});

			$("#teams-input").selectize({
				valueField: 'teamid',
				labelField: 'teamname',
				searchField: 'teamname',
				options: [],
				create: false,
				render: {
					option: function (item, escape) {
						return '<div>' +
							(item.teamname ? '<span class="teamname">' + escape(item.teamname) + '</span>' : '') +
							'</div>';
					}
				},
				load: function (query, callback) {
					if (!query.length) return callback();
					$.ajax({
						url: 'ajax/teams/',
						dataType: 'json',
						error: function () {
							callback();
						},
						success: function (res) {
							callback(res.teams);
						}
					});
				}
			});

			$('#playerfilter').submit(function () {
				$(this)
					.find('input[name]')
					.filter(function () {
						return !this.value;
					})
					.prop('name', '');
			});

			$('#btn-reset').click(function () {
				window.location = window.location.pathname;
			});

			$( "#tabs" ).tabs();

		  } );
	</script>
{% endblock %}

{% block content %}
	<div class="container-fluid top-container">
		<form id="playerfilter" method="get">
			<div class="well">
				<h4 style="margin-top: 0">Filter Players</h4>
				<div id="tabs">
					<ul>
						<li>
							<a href="#tabs-1">Player Info</a>
						</li>
						<li>
							<a href="#tabs-2">Player Attributes</a>
						</li>
						<li>
							<a href="#tabs-3">For Geeks</a>
						</li>
					</ul>
					<div id="tabs-1">
						<div class="form-group row">
							<div class="col-md-4">
								<label for="overallrating__gte">Overall</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="overallrating__gte" value="{{ request_query_dict.overallrating__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="overallrating__lte" value="{{ request_query_dict.overallrating__lte }}" placeholder="Max">
								</div>
								<label for="potential__gte">Potential</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="potential__gte" value="{{ request_query_dict.potential__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="potential__lte" value="{{ request_query_dict.potential__lte }}" placeholder="Max">
								</div>
								<label for="age_min">Age</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="age_min" value="{{ request_query_dict.age_min }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="age_max" value="{{ request_query_dict.age_max }}" placeholder="Max">
								</div>
								<label for="select-isretiring">Is Retiring?</label>
								<select id="select-isretiring" name="isretiring" placeholder="Any...">
									<option value="">Any..</option>
									<option value="0">No</option>
									<option value="1">Yes</option>
								</select>
							</div>
							<div class="col-md-4">
								<label>Position(s)</label>
								<input id='positions-input' name="preferredpositions" placeholder="Search for position(s)...">
								<label>Nationality</label>
								<input id='nationality-input' name="nationalityid" placeholder="Search for nation...">
								<label>League</label>
								<input id='leagues-input' name="leagueid" placeholder="Search for league...">
								<label>Team</label>
								<input id='teams-input' name="teamid" placeholder="Search for team...">
								<label>Attacking Work Rate</label>
								<input id='awr-input' name="attackingworkrate" placeholder="Any...">
								<label>Defensive Work Rate</label>
								<input id='dwr-input' name="defensiveworkrate" placeholder="Any...">
							</div>
							<div class="col-md-4">
								<label for="skillmoves__gte">Skill Moves</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="5" name="skillmoves__gte" value="{{ request_query_dict.skillmoves__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="5" name="skillmoves__lte" value="{{ request_query_dict.skillmoves__lte }}" placeholder="Max">
								</div>
								<label for="weakfootabilitytypecode__gte">Weak Foot</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="5" name="weakfootabilitytypecode__gte" value="{{ request_query_dict.weakfootabilitytypecode__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="5" name="weakfootabilitytypecode__lte" value="{{ request_query_dict.weakfootabilitytypecode__lte }}" placeholder="Max">
								</div>
								<label for="internationalrep__gte">International Reputation</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="5" name="internationalrep__gte" value="{{ request_query_dict.internationalrep__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="5" name="internationalrep__lte" value="{{ request_query_dict.internationalrep__lte }}" placeholder="Max">
								</div>
								<label for="height__gte">Height</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="130" max="215" name="height__gte" value="{{ request_query_dict.height__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="130" max="215" name="height__lte" value="{{ request_query_dict.height__lte }}" placeholder="Max">
								</div>
								<label for="weight__gte">Weight</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="30" max="115" name="weight__gte" value="{{ request_query_dict.weight__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="30" max="115" name="weight__lte" value="{{ request_query_dict.weight__lte }}" placeholder="Max">
								</div>
							</div>
						</div>
					</div>
					<div id="tabs-2">
						<div class="row">
							<div class="col-md-4">
								<h3>Attack</h3>
								<label for="crossing__gte">Crossing</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="crossing__gte" value="{{ request_query_dict.crossing__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="crossing__lte" value="{{ request_query_dict.crossing__lte }}" placeholder="Max">
								</div>
								<label for="finishing__gte">Finishing</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="finishing__gte" value="{{ request_query_dict.finishing__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="finishing__lte" value="{{ request_query_dict.finishing__lte }}" placeholder="Max">
								</div>
								<label for="headingaccuracy__gte">Heading Accuracy</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="headingaccuracy__gte" value="{{ request_query_dict.headingaccuracy__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="headingaccuracy__lte" value="{{ request_query_dict.headingaccuracy__lte }}" placeholder="Max">
								</div>
								<label for="shortpassing__gte">Short Passing</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="shortpassing__gte" value="{{ request_query_dict.shortpassing__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="shortpassing__lte" value="{{ request_query_dict.shortpassing__lte }}" placeholder="Max">
								</div>
								<label for="volleys__gte">Volleys</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="volleys__gte" value="{{ request_query_dict.volleys__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="volleys__lte" value="{{ request_query_dict.volleys__lte }}" placeholder="Max">
								</div>
							</div>
							<div class="col-md-4">
								<h3>Defending</h3>
								<label for="marking__gte">Marking</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="marking__gte" value="{{ request_query_dict.marking__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="marking__lte" value="{{ request_query_dict.marking__lte }}" placeholder="Max">
								</div>
								<label for="standingtackle__gte">Standingtackle</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="standingtackle__gte" value="{{ request_query_dict.standingtackle__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="standingtackle__lte" value="{{ request_query_dict.standingtackle__lte }}" placeholder="Max">
								</div>
								<label for="slidingtackle__gte">Slidingtackle</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="slidingtackle__gte" value="{{ request_query_dict.slidingtackle__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="slidingtackle__lte" value="{{ request_query_dict.slidingtackle__lte }}" placeholder="Max">
								</div>
							</div>
							<div class="col-md-4">
								<h3>Skill</h3>
								<label for="dribbling__gte">Dribbling</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="dribbling__gte" value="{{ request_query_dict.dribbling__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="dribbling__lte" value="{{ request_query_dict.dribbling__lte }}" placeholder="Max">
								</div>
								<label for="curve__gte">Curve</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="curve__gte" value="{{ request_query_dict.curve__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="curve__lte" value="{{ request_query_dict.curve__lte }}" placeholder="Max">
								</div>
								<label for="freekickaccuracy__gte">Free Kick Accuracy</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="freekickaccuracy__gte" value="{{ request_query_dict.freekickaccuracy__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="freekickaccuracy__lte" value="{{ request_query_dict.freekickaccuracy__lte }}" placeholder="Max">
								</div>
								<label for="longpassing__gte">Long Passing</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="longpassing__gte" value="{{ request_query_dict.longpassing__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="longpassing__lte" value="{{ request_query_dict.longpassing__lte }}" placeholder="Max">
								</div>
								<label for="ballcontrol__gte">Ball Control</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="ballcontrol__gte" value="{{ request_query_dict.ballcontrol__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="ballcontrol__lte" value="{{ request_query_dict.ballcontrol__lte }}" placeholder="Max">
								</div>
							</div>
							<div class="col-md-4">
								<h3>Power</h3>
								<label for="shotpower__gte">Shot Power</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="shotpower__gte" value="{{ request_query_dict.shotpower__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="shotpower__lte" value="{{ request_query_dict.shotpower__lte }}" placeholder="Max">
								</div>
								<label for="jumping__gte">Jumping</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="jumping__gte" value="{{ request_query_dict.jumping__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="jumping__lte" value="{{ request_query_dict.jumping__lte }}" placeholder="Max">
								</div>
								<label for="stamina__gte">Stamina</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="stamina__gte" value="{{ request_query_dict.stamina__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="stamina__lte" value="{{ request_query_dict.stamina__lte }}" placeholder="Max">
								</div>
								<label for="strength__gte">Strength</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="strength__gte" value="{{ request_query_dict.strength__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="strength__lte" value="{{ request_query_dict.strength__lte }}" placeholder="Max">
								</div>
								<label for="longhshots__gte">Longh Shots</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="longhshots__gte" value="{{ request_query_dict.longhshots__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="longhshots__lte" value="{{ request_query_dict.longhshots__lte }}" placeholder="Max">
								</div>
							</div>
							<div class="col-md-4">
								<h3>Movement</h3>
								<label for="acceleration__gte">Acceleration</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="acceleration__gte" value="{{ request_query_dict.acceleration__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="acceleration__lte" value="{{ request_query_dict.acceleration__lte }}" placeholder="Max">
								</div>
								<label for="sprintspeed__gte">Sprintspeed</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="sprintspeed__gte" value="{{ request_query_dict.sprintspeed__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="sprintspeed__lte" value="{{ request_query_dict.sprintspeed__lte }}" placeholder="Max">
								</div>
								<label for="agility__gte">Agility</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="agility__gte" value="{{ request_query_dict.agility__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="agility__lte" value="{{ request_query_dict.agility__lte }}" placeholder="Max">
								</div>
								<label for="reactions__gte">Reactions</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="reactions__gte" value="{{ request_query_dict.reactions__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="reactions__lte" value="{{ request_query_dict.reactions__lte }}" placeholder="Max">
								</div>
								<label for="balance__gte">Balance</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="balance__gte" value="{{ request_query_dict.balance__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="balance__lte" value="{{ request_query_dict.balance__lte }}" placeholder="Max">
								</div>
							</div>
							<div class="col-md-4">
								<h3>Mentalilty</h3>
								<label for="aggression__gte">Aggression</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="aggression__gte" value="{{ request_query_dict.aggression__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="aggression__lte" value="{{ request_query_dict.aggression__lte }}" placeholder="Max">
								</div>
								<label for="composure__gte">Composure</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="composure__gte" value="{{ request_query_dict.composure__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="composure__lte" value="{{ request_query_dict.composure__lte }}" placeholder="Max">
								</div>
								<label for="interceptions__gte">Interceptions</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="interceptions__gte" value="{{ request_query_dict.interceptions__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="interceptions__lte" value="{{ request_query_dict.interceptions__lte }}" placeholder="Max">
								</div>
								<label for="positioning__gte">Attack Positioning</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="positioning__gte" value="{{ request_query_dict.positioning__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="positioning__lte" value="{{ request_query_dict.positioning__lte }}" placeholder="Max">
								</div>
								<label for="vision__gte">Vision</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="vision__gte" value="{{ request_query_dict.vision__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="vision__lte" value="{{ request_query_dict.vision__lte }}" placeholder="Max">
								</div>
								<label for="penalties__gte">Penalties</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="penalties__gte" value="{{ request_query_dict.penalties__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="penalties__lte" value="{{ request_query_dict.penalties__lte }}" placeholder="Max">
								</div>
							</div>
							<div class="col-md-4">
								<h3>Goalkeeper</h3>
								<label for="gkdiving__gte">gkdiving</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="gkdiving__gte" value="{{ request_query_dict.gkdiving__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="gkdiving__lte" value="{{ request_query_dict.gkdiving__lte }}" placeholder="Max">
								</div>
								<label for="gkhandling__gte">gkhandling</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="gkhandling__gte" value="{{ request_query_dict.gkhandling__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="gkhandling__lte" value="{{ request_query_dict.gkhandling__lte }}" placeholder="Max">
								</div>
								<label for="gkkicking__gte">gkkicking</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="gkkicking__gte" value="{{ request_query_dict.gkkicking__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="gkkicking__lte" value="{{ request_query_dict.gkkicking__lte }}" placeholder="Max">
								</div>
								<label for="gkpositioning__gte">gkpositioning</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="gkpositioning__gte" value="{{ request_query_dict.gkpositioning__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="gkpositioning__lte" value="{{ request_query_dict.gkpositioning__lte }}" placeholder="Max">
								</div>
								<label for="gkreflexes__gte">gkreflex</label>
								<div class="input-group justified">
									<input class="form-control" type="number" min="1" max="99" name="gkreflexes__gte" value="{{ request_query_dict.gkreflexes__gte }}" placeholder="Min">
									<input class="form-control" type="number" min="1" max="99" name="gkreflexes__lte" value="{{ request_query_dict.gkreflexes__lte }}" placeholder="Max">
								</div>
							</div>
						</div>
					</div>
					<div id="tabs-3">
						<div class="row">
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
				<button type="button" class="btn btn-primary" id="btn-reset">Reset</button>
			</div>
		</form>
	</div> 
	{% comment %} 		
	<form id="player_filter">
			<div class="row">
				<div class="col-md-6 col-xs-4">
					<input type="text" name="name" placeholder="Name...">
				</div>
				<div class="col-md-6 col-xs-8">
					<button class="btn btn-primary btn-search">Search <span class="glyphicon glyphicon-search"></span></button>
					<button class="btn btn-primary btn-search-adv">More <span class="glyphicon glyphicon-chevron-down"></span></button>
				</div>
			</div>
		</form>	
	{% endcomment %}

	<div class="pagination">
		<span class="step-links">
			{% if paginator.has_previous %}
				<a href="?page=1{{ paginator.request_filters }}">&laquo; first</a>
				<a href="?page={{ paginator.previous_page_number }}{{ paginator.request_filters }}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ paginator.page }} of {{ paginator.last_page_number }} (Total: {{ paginator.num_of_objects }})
			</span>
	
			{% if paginator.has_next %}
				<a href="?page={{ paginator.next_page_number }}{{ paginator.request_filters }}">next</a>
				<a href="?page={{ paginator.last_page_number }}{{ paginator.request_filters }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>

	<div id="table-container" class="container-fluid">
		<table>
			<thead>
				<tr>
					<td colspan ="3">PLAYER</th>
					<th class="text-center">RAT</th>
					<th class="text-center">POT</th>
					<th class="text-center">AGE</th>
					<th class="text-center">CONTRACT</th>
					<th class="text-center">VALUE</th>
				</tr>
			</thead>
			<tbody>
				{% for p in players %}
					<tr>
						<td width="65"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/{{ p.headshot }}" title="{{ p.player.playerid }}" class="miniface" onerror="faceNotFound(this, {% get_static_prefix %});"</a></td>
						<td class="player-position text-center" width="65">{{ p.player.preferredposition1 }}</td>
						<td width="250">
							<div>
								<img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" class="flag">
								<a href="{% url 'players' %}{{p.player.playerid}}">{{ p.player_name.knownas}}</a>
							</div>
							<div class="player-position">
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" title="{{ p.player_teams.club_team.teamname }}" class="crest">
								{{ p.player.preferredposition1 }}
								{% if p.player.preferredposition2 != -1 %} | {{ p.player.preferredposition2 }}{% endif %}
								{% if p.player.preferredposition3 != -1 %} | {{ p.player.preferredposition3 }}{% endif %}
								{% if p.player.preferredposition4 != -1 %} | {{ p.player.preferredposition4 }}{% endif %}
							</div>
						</td>
						<td class="text-center">{{ p.player.overallrating }}</td>
						<td class="text-center">{{ p.player.potential }}</td>
						<td class="text-center">{{ p.player_age.age }}</td>
						<td class="text-center">
							<div>
								{% if p.player_contract.isloanedout %}
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_contract.loanedto_clubid }}.png" title="On Loan at: {{p.player_contract.loanedto_clubname}}" class="crest">
								{% else %}
								<img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" title="{{ p.player_teams.club_team.teamname }}" class="crest">
								{% endif %}
								{{ p.player_contract.jointeamdate }} - {{p.player_contract.enddate}}
							</div>
						</td>
						<td class="text-center">
							<div>
								{{ p.player_value.formated_value }} &euro;
							</div>
							<div>
								{{ p.player_wage.formated_wage }} &euro;
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}