{% extends 'base.html' %}
{% load static %}
{% load transfers_template_tags %}

{% block content %}
<div class="container-fluid">
    <form id="transfersfilter" method="get">
        <div class="well">
            <h4 style="margin-top: 0">Filter Transfers</h4>
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#tabs-1">Transfers</a>
                    </li>
                </ul>
                <div id="tabs-1">
                    <div class="form-group row">
                        <div class="col-md-4">  
                            <label for="select-iscputransfer">Is CPU Transfer?</label>
                            <select id="select-iscputransfer" name="iscputransfer" placeholder="All">
                                <option value="-1" selected>All</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <label for="select-isloan">Is Loan Listed?</label>
                            <select id="select-isloan" name="isloan" placeholder="All">
                                <option value="-1" selected>All</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <label for="select-isloanbuy">Is Loan Buy?</label>
                            <select id="select-isloanbuy" name="isloanbuy" placeholder="All">
                                <option value="-1" selected>All</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <label for="select-issnipe">Is Snipe?</label>
                            <select id="select-issnipe" name="issnipe" placeholder="All">
                                <option value="-1" selected>All</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <label for="select-result">Transfer Result</label>
                            <select id="select-result" name="result" placeholder="Transfer Completed">
                                    <option value="-1">All</option>
                                    <option value="1">Transfer Rejected (?)</option>
                                    <option value="2">Transfer Stalled (?)</option>
                                    <option value="32" selected>Transfer Completed</option>
                                </select>
                        </div>
                        <div class="col-md-4">
                            <label>Team From</label>
							<input class='teams-filter-input' id='fromteamid-input' name="fromteamid" placeholder="Search for team...">  
                            <label>Team To</label>
							<input class='teams-filter-input' id='offerteamid-input' name="offerteamid" placeholder="Search for team...">  
                        </div>
                        <div class="col-md-4">
                            <label for="valuation__gte">Valuation</label>
                            <div class="input-group justified">
                                <input class="form-control" type="number" min="0" max="2147483520" name="valuation__gte" value="{{ request_query_dict.valuation__gte }}" placeholder="Min">
                                <input class="form-control" type="number" min="0" max="2147483520" name="valuation__lte" value="{{ request_query_dict.valuation__lte }}" placeholder="Max">
                            </div>  
                            <label for="offeredfee__gte">Offered Fee</label>
                            <div class="input-group justified">
                                <input class="form-control" type="number" min="0" max="2147483520" name="offeredfee__gte" value="{{ request_query_dict.offeredfee__gte }}" placeholder="Min">
                                <input class="form-control" type="number" min="0" max="2147483520" name="offeredfee__lte" value="{{ request_query_dict.offeredfee__lte }}" placeholder="Max">
                            </div>  
                            <label for="offeredwage__gte">Offered Wage</label>
                            <div class="input-group justified">
                                <input class="form-control" type="number" min="0" max="2147483520" name="offeredwage__gte" value="{{ request_query_dict.offeredwage__gte }}" placeholder="Min">
                                <input class="form-control" type="number" min="0" max="2147483520" name="offeredwage__lte" value="{{ request_query_dict.offeredwage__lte }}" placeholder="Max">
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" id="btn-filter" style="margin-top: 10px; margin-right: 5px;">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-reset" style="margin-top: 10px; margin-right: 5px;">Reset</button>
                </div>
                <div class="col-md-4 col-md-offset-4 maxresults">
                    <label for="select-max_per_page">Results per page:</label>
                    <select id="select-max_per_page" name="max_per_page" placeholder="50">
                        <option value="25">25</option>
                        <option value="50" selected>50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select>	
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <nav aria-label="Search results pages">
        <p>Total Transfers: {{ paginator.num_of_objects }}</p>
        <ul class="pagination">
            {% if paginator.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' '1' %}" tabindex="-1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' paginator.previous_page_number %}">{{paginator.previous_page_number}}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link">{{ paginator.page }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' paginator.next_page_number %}">{{paginator.next_page_number}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' paginator.last_page_number %}" tabindex="-1">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<div id="table-container" class="container-fluid">
    <table>
        <thead>
            <tr>
                <th class="text-center" colspan ="3">PLAYER</th>
                <th class="text-center">RAT</th>
                <th class="text-center">FROM</th>
                <th class="text-center">TO</th>
                <th class="text-center hidden-xs hidden-sm">Player Value</th>
                <th class="text-center hidden-xs hidden-sm">
                    {% if request_query_dict.order_by == "-offeredfee" %}
                        <a href="{% url_params request '?order_by=' 'offeredfee' %}">
                            Offered Fee  <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </a>
                    {% elif request_query_dict.order_by == "offeredfee" %}
                        <a href="{% url_params request '?order_by=' '-offeredfee' %}">
                            Offered Fee  <span class="glyphicon glyphicon-sort-by-order"></span>
                        </a>
                    {% else %}
                        <a href="{% url_params request '?order_by=' 'offeredfee' %}">
                            Offered Fee  <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for p in players %}
                <tr>
                    <td width="65">
                        <a href="{% url 'players' %}{{p.player.playerid}}"><img src="{% get_static_prefix %}img/assets/{{ p.headshot }}" onError="this.onerror=null;this.src='/static/img/assets/heads/not_found_0.png';" title="PlayerID: {{ p.player.playerid }}" class="miniface"></a>
                    </td>
                    <td class="player-position text-center" width="65">{{ p.player.preferredposition1 }}</td>
                    <td width="250">
                        <div>
                            <img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" title="{{ p.player.nationality.nationname}} (ID: {{ p.player.nationality.nationid }})" class="flag">
                            <a href="{% url 'players' %}{{p.player.playerid}}">{{ p.player_name.knownas}}</a>
                        </div>
                        <div class="player-position">
                            <a href="{% url 'teams' %}{{p.player_teams.club_team.team.teamid}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.team.teamid }}.png" title="{{ p.player_teams.club_team.team.teamname }} (ID: {{p.player_teams.club_team.team.teamid}})" class="crest"></a>
                            {{ p.player.preferredposition1 }}
                            {% if p.player.preferredposition2 != -1 %} | {{ p.player.preferredposition2 }}{% endif %}
                            {% if p.player.preferredposition3 != -1 %} | {{ p.player.preferredposition3 }}{% endif %}
                            {% if p.player.preferredposition4 != -1 %} | {{ p.player.preferredposition4 }}{% endif %}
                        </div>
                    </td>
                    <td class="text-center"><span class="ratinglabel rat{{p.player.overallrating}}">{{ p.player.overallrating }}</span></td>
                    <td class="text-center">
                        <a href="{% url 'teams' %}{{p.transfer_info.from_team}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.transfer_info.from_team }}.png" title="{{ p.transfer_info.from_team}} (ID: {{ p.transfer_info.from_team }})" class="crest"></a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'teams' %}{{p.transfer_info.to_team}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.transfer_info.to_team }}.png" title="{{ p.transfer_info.to_team}} (ID: {{ p.transfer_info.to_team }})" class="crest"></a>
                    </td>
                    <td class="text-center hidden-xs hidden-sm">
                        <div>
                            {{ p.player_value.formated_value }} {{ request.session.currency_symbol }}
                        </div>
                    </td>
                    <td class="text-center hidden-xs hidden-sm">
                        <div>
                            {% if p.player_contract.isloanedout %}
                                Loan
                            {% else %}
                                {{ p.transfer_info.offeredfee }} {{ request.session.currency_symbol }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <nav aria-label="Search results pages">
        <ul class="pagination">
            {% if paginator.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' '1' %}" tabindex="-1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' paginator.previous_page_number %}">{{paginator.previous_page_number}}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link">{{ paginator.page }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' paginator.next_page_number %}">{{paginator.next_page_number}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url_params request '?page=' paginator.last_page_number %}" tabindex="-1">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}