{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block content %}
	<div id="table-container" class="container">
		<table>
			<thead>
				<tr>
					<td colspan ="2">PLAYER</th>
					<th>RAT</th>
					<th>POT</th>
					<th>AGE</th>
					<th>CLUB</th>
					<th>VALUE</th>
				</tr>
			</thead>
			<tbody>
			{% for p in data %}
				<tr>
					{% if p.playerid <= 240895 %}
					<!-- Players -->
					<td width="80px"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/heads/p{{ p.playerid }}.png" class="miniface"</a></td>
					<td width="80px"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/flags/f_{{ p.nationality.nationid }}.png" class="miniface"</a></td>
					<td width="80px"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.clubid }}.png" class="miniface"</a></td>
					<td>{{ p.firstname.name }} {{ p.lastname.name }}</td>
					{% else %}
					<!-- REGENS -->
					<td><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/assets/youthheads/notfound_0.png" class="miniface"</a></td>
					<td>{{ p.firstname.name }} {{ p.lastname.name }}</td>
					{% endif %}
					<td>{{ p.overallrating }}</td>
					<td>{{ p.potential }}</td>
					<td>{{ p.birthdate }}</td>
					<td>CLUB</td>
					<td>0 EURO</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}