{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block content %}
	<div id="players_table" class="container">
		<table style="width:100%">
			<tr>
				<th>PLAYER</th>
				<th>RAT</th>
				<th>POT</th>
				<th>AGE</th>
				<th>CLUB</th>
				<th>VALUE</th>
			</tr>
		{% for p in data %}
			<tr>
				<td><a href="{% url 'home' %}"><img src="{% static 'img\players\p0.png' %}" class="miniface"</a>{{ p.firstnameid }}</td>
				<td>{{ p.overallrating }}</td>
				<td>{{ p.potential }}</td>
				<td>{{ p.birthdate }}</td>
				<td>CLUB</td>
				<td>0 EURO</td>
			</tr>
			
		{% endfor %}
		</table>
	</div>
{% endblock %}