html {
	position: relative;
	min-height: 100%;
}

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #686868;
	background: #252830;
	margin-bottom: 30px;
}

.top-container {
    padding-top: 80px;
}

.nav-tabs li a {
    color: #ffffff;
}
#player_search input {
    width: 100%;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #16181d;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 4px;
    opacity: 0.8;
}

.navbar li a, .navbar { 
    color: #efb7ae !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #000 !important;
	background-color: #0cc54a;
}


.dropdown-menu {
	text-align: right;
	background-color: #cb3f28;
	min-width: 200px;
}

.bg-1 {
    color: #bdbdbd;
}

.footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;   /* Height of the footer */
	line-height: 30px; /* Vertically center the text there */
}


textarea {
    resize: none;
}