#table-container {
    padding: 80px 0px;
}


table{
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid black;
}

thead {
	text-align: center;
	background: #fff;
	padding: 5px;
	border: 1px solid black;
}

tr {
	border: 1px solid black;
}

.miniface {
	align: left;
    width: 75px;
    height: 75px;
	border-radius: 50%;
}