{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
	<h3 class="text-center">FIFA Tracker</h3>
	<p class="text-center">{% trans 'Track your progress in FIFA Career Mode' %}.</p>
	<p class="text-center">{% trans 'If you ever wanted to find best of the best players in your career mode then this place is ideal for you. Upload your career save and let the magic happen' %}. :)</p>
</div>
<div class="container" style="padding-top: 20px;">
	<h3>{% trans 'Get Started' %}:</h3>
	<ul>
		<li><a href="{% url 'signup' %}">{% trans 'Register' %}</a> {% trans 'an new account or' %} <a href="{% url 'login_view' %}">{% trans 'login' %}</a>.</li>
		<li><a href="{% url 'upload_career_save_file' %}">{% trans 'Upload' %}</a> {% trans 'your career save' %}.</li>
		<li>{% trans 'Players from your career save will be available' %} <a href="{% url 'players' %}">{% trans 'here' %}</a> {% trans 'after our servers will process your career data' %}.</li>
	</ul>
	<h3>{% trans 'Plans for future' %}:</h3>
	<ul>
		<li>Support for PS4 (If there will be a tool for decrypting game saves).</li>
		<li>League table.</li>
		<li>Transfers history.</li>
		<li>Player Stats</li>
		<li>List of usefull ids for Cheat Table</li>
		<li>Career Mode Save Editor</li>
		<li>Support for older FIFA editions.</li>
	</ul>
</div>
<div class="container">
	<div class="col-md-6 col-xs-12">
		<h2 align="center">{% trans 'Most Popular Clubs' %}</h2>
		<div id="table-container" class="container-fluid">
			<table>
				<thead>
					<tr>
						<th class="text-center">{% trans 'CLUB' %}</th>
						<th class="text-center">{% trans 'MANAGERS' %}</th>
					</tr>
				</thead>
				<tbody>
					{% for club in users_clubs %}
					<tr>
						<td>
							<div style="padding: 5px;">
								<img src="{% get_static_prefix %}img/assets/crest/l{{ club.id }}.png" title="{{ club.teamname }}" class="crest">
								<span style="margin-left: 10px;">{{club.teamname}}</span>
							</div>
						</td>
						<td class="text-center">
							{{club.managers}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<h2 align="center">{% trans 'Most Popular National Teams' %}</h2>
		<div id="table-container" class="container-fluid">
			<table>
				<thead>
					<tr>
						<th class="text-center">{% trans 'NATIONAL TEAM' %}</th>
						<th class="text-center">{% trans 'MANAGERS' %}</th>
					</tr>
				</thead>
				<tbody>
					{% for team in users_nationalteams %}
					<tr>
						<td>
							<div style="padding: 5px;">
								<img src="{% get_static_prefix %}img/assets/crest/l{{ team.id }}.png" title="{{ team.teamname }}" class="crest">
								<span style="margin-left: 10px;">{{team.teamname}}</span>
							</div>
						</td>
						<td class="text-center">
							{{team.managers}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="discord" class="container-fluid">
	<h3 class="text-center">{% trans 'Join Our Discord' %}</h3>
	<p class="text-center"><iframe src="https://discordapp.com/widget?id=362620892963930113&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe></p>
</div>
{% endblock %}