{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block script %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script>
    function updateStatus(data) {
      var status_msg = data.status_msg
      var status_code = parseInt(data.status_code);

      $(".process_status_msg").text(status_msg)

      if (status_code == 0) {
        $(".process_status_info").text("Whole process may take around 2 minutes.")
        $(".status").text("Status (updates every 10s):")
        setTimeout(checkStatus, 10000);
      } else if (status_code == 1) {
        $( "h3:first" ).text("Failed.");
        $(".process_status_info").text("Error during processing your career file. Please, contact with website administrator to solve this problem.")
        $(".status").text("Reason:")
      } else if (status_code == 2) {
        $( "h3:first" ).text("Success!");
        $(".process_status_info").text("Career file has been processed. Everything should work :)")
        $(".status").text("Status: ")
      }
    }

    function checkStatus() {
      var span_status_msg = $(".process_status_msg")
      if (span_status_msg.length){ 
        $.ajax({
          url: '/upload/process_status/',
          dataType: 'json',
          success: function (data) {
            updateStatus(data)        
          },
        });        
      }  
    };
    setTimeout(checkStatus, 1000);
  </script>

{% endblock %}

{% block content %}
<div id="upload-container" class="container">
  <p class="alert alert-info">If upload button doesn't work, make sure to check extensions in your web browser. Some of them may block js code execution. Like "uBlock" for example. Add this website to the whitelist and it should work fine.</p>
    
    {% if cs_model %}
      <h3>{% trans 'Your file is being processed' %}.</h3>
      {% if cs_model.file_process_status_code == 0 %}
        <p><span class="process_status_info">{% trans 'Whole process may take around 2 minutes' %}.</span></p>
        <p><strong><span class="status">{% trans 'Status (updates every 10s)' %}:</span></strong></p>
        <p><span class="process_status_msg">{{cs_model.file_process_status_msg}}</span></p>
      {% elif cs_model.file_process_status_code == 1 %}
        <p>{% trans 'Error during processing your career file. Please, contact with website administrator to solve this problem.' %}.</p>
        <p><strong>{% trans 'Reason' %}:</strong> {{cs_model.file_process_status_msg}}</p>
      {% elif cs_model.file_process_status_code == 2 %}
        <p>{% trans 'Career file has been processed. Everything should work' %} :)</p>
        <p>{{cs_model.file_process_status_msg}}</p>
        <p><a href="{% url 'players' %}">{% trans 'Players' %}</a></p>
        <p><a href="{% url 'teams' %}">{% trans 'Teams' %}</a></p>
      {% endif %}
      <a href="{% url 'abort_upload' %}" class="btn btn-primary">{% trans 'Abort' %}</a>
    {% endif %}
      
    {% if form %}  
      <h3>{% trans 'Upload your FIFA Manager Mode Career File' %}</h3>
      {% if request.user.is_authenticated %}
      <div class="container">
        <p>{% trans 'On PC you can find your save file in "Documents" -> "FIFA 18" -> "settings" -> "CareerXXX"' %}</p>
        <form method="post" action="{% url 'upload_career_save_file' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="fileupload" type="file" name="uploadedfile" style="display: none;">
          <button type="button" class="btn btn-primary js-upload-career-save" style="margin-bottom: 10px;">
            <span class="glyphicon glyphicon-cloud-upload"></span> {% trans 'Upload Career Save' %}
          </button>
          <div class="progress" style="display: none;">
            <div class="upload-progress-bar progress-bar progress-bar-striped" role="progressbar" style="width: 0%; margin-bottom: 10px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <select id="select-fifa" name="fifa_edition" placeholder="FIFA 18 PC" style="width: 164px;">
            <option value="17">FIFA 17 PC</option>
            <option value="18" selected>FIFA 18 PC</option>
          </select>
        </form>
      </div>
      {% else %}
        <p>{% trans 'Only authenticated users are allowed to upload files' %}.</p>
      {% endif %}
      <div class="container top-container">
        <a href="{% url 'home' %}" class="btn btn-primary">{% trans 'Return to home' %}</a>
        <p>Join <a href="https://discord.gg/X49vaQ">Discord</a> in case of any problems</p>
      </div>
    {% endif %}
  </div>
{% endblock %}