{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>FIFA Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
	{% block stylesheet %}{% endblock %}
</head>	
<body id="homepage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img\logo\logo.png' %}" title="FIFA Tracker" alt="logo"></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
		</div>
		<div class="collapse navbar-collapse" id="siteNavbar">
			{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
					  <a class="dropdown-item" href="#">My account</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="#">Change password</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
					</div>
				  </li>
				</ul>
			{% else %}
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#contact">CONTACT</a></li>
				<li><a href="{% url 'login_view' %}">LOG-IN</a></li>
			  </ul>
			{% endif %}
		</div>
	  </div>
	</nav>
	<div id="main" class="container bg-1">
		{% block content %}
		{% endblock %}
	</div>
	<footer class="footer text-center">
		<p>&copy; FIFA Tracker 2017 | All FIFA assets are property of EA Sports | <a href="https://github.com/xAranaktu/FIFA-Tracker">GitHub</a> </p> 
	</footer>	
<script src="{% static 'js\FIFA_TRACKER.js' %}"></script>
<script>

$(document).ready(function(){  
	updatePositions();
	updateStrongFoot();
	updateWorkrates();
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href="{% url 'home' %}"]").on('click', function(event) {
		
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>
</body>
</html>
