{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>FIFA Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>	
<body id="homepage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#homepage"><img src="{% static 'img\logo\logo.png' %}" title="FIFA Tracker" alt="logo"></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
		</div>
		<div class="collapse navbar-collapse" id="siteNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#contact">CONTACT</a></li>
			<li><a href="#">LOG-IN</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<div id="main" class="bg-1">
		<div class="container">
			<h3 class="text-center">FIFA Tracker</h3>
			<p class="text-center">Track your progress in FIFA Career Mode.</p>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis, elit vitae interdum faucibus, odio dui mollis tortor, at varius velit leo venenatis ligula. Donec lacinia felis sed risus aliquet fringilla. Praesent eget bibendum nibh. Nunc condimentum risus ut urna lobortis, in ultricies nulla dapibus. Cras quam lorem, pellentesque vel blandit sit amet, dapibus eget quam. Maecenas luctus nisi sed magna scelerisque, in varius nulla interdum. Nam sed turpis rutrum purus sollicitudin efficitur non vel enim.</p>
			<p class="text-center">Etiam at erat vulputate, vulputate lacus ac, scelerisque turpis. Nam quam nisl, auctor vel hendrerit ut, pulvinar ut turpis. Fusce blandit, ipsum sed euismod volutpat, lorem est aliquet erat, eu ultricies tellus enim at augue. Integer et ligula rhoncus arcu ultrices tempor. Praesent consectetur ac nulla sed iaculis. Sed vehicula malesuada nibh, eget molestie dui. In pellentesque vitae ligula at mollis. Cras dapibus ligula ac libero dapibus convallis a ac ex. Aenean sapien libero, tempus eu ex vitae, pharetra vehicula nisi.</p>
			<p class="text-center">Aliquam erat volutpat. Nam vestibulum egestas augue ut ullamcorper. In maximus lacus nec ornare scelerisque. Nunc et erat sapien. Sed sit amet auctor risus. Cras sed orci mauris. Proin eu ornare sem. Suspendisse luctus mi at est maximus, vitae pretium leo convallis. Curabitur finibus purus justo, et vehicula ligula iaculis sed. Vestibulum condimentum urna quis velit mollis bibendum. Sed nec hendrerit dolor, in accumsan leo. Donec sit amet lectus imperdiet, rhoncus mauris ut, consequat felis. Nunc ac efficitur nunc, at lacinia libero. Donec eget sodales metus, ac ultrices leo. Etiam lacinia eu arcu eget faucibus. Quisque commodo semper.</p>
		</div>
	</div>
	<div id="contact" class="container">
		<h3 class="text-center">Contact</h3>
		<p class="text-center"><em>Feel free to share your thoughts!</em></p>
		
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
					</div>
					<div class="col-sm-6 form-group">
					  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
					</div>
				</div>
				<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
				<br>
				<div class="row">
					<div class="col-md-12 form-group">
						<button class="btn pull-right" type="submit">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="text-center">
	  <a class="up-arrow" href="#homepage" title="TO TOP">
		<span class="glyphicon glyphicon-chevron-up"></span>
	  </a><br><br>
	  <p align="left">&copy; FIFA Tracker 2017. | All FIFA assets are property of EA Sports | <a href="https://github.com/xAranaktu/FIFA-Tracker">GitHub</a> </p> 
	</footer>	
<script>
$(document).ready(function(){  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#homepage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>
</body>
</html>
