{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/player.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
    <div class="row">
      <div class="col-sm-4 text-right hidden-xs">
        <div class="row">
          <div class="col-xs-12">
            <dl>
              <dt>{% trans 'Nationality' %}</dt>
              <dd>{{ p.player.nationality.nationname }} <img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" title="{{ p.player.nationality.nationname}} (ID: {{ p.player.nationality.nationid }})" class="flag"></dd>
            </dl>
          </div>
          <div class="col-xs-12">
              <dl>
                <dt>{% trans 'League' %}</dt>
                <dd>{{p.player_teams.club_team.league.leaguename}} <img src="{% get_static_prefix %}img/assets/leagues/l{{ p.player_teams.club_team.league.leagueid }}.png" title="{{p.player_teams.club_team.league.leaguename}} (ID: {{p.player_teams.club_team.league.leagueid}})" class="crest"></dd>
              </dl>
          </div>
          <div class="col-xs-12">
              <dl>
                <dt>{% trans 'Club' %}</dt>
                <dd>
                  {% if p.player_contract.isloanedout %}
                    {{p.player_contract.loanedto_clubname}} <a href="{% url 'teams' %}{{p.player_contract.loanedto_clubid}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_contract.loanedto_clubid }}.png" title="Loaned from: {{p.player_teams.club_team.team.teamname}}" class="crest"></a>
                  {% else %}
                    {{p.player_teams.club_team.team.teamname}} <a href="{% url 'teams' %}{{p.player_teams.club_team.team.teamid}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.team.teamid }}.png" title="{{ p.player_teams.club_team.team.teamname }} (ID: {{p.player_teams.club_team.team.teamid}})" class="crest"></a>
                  {% endif %}
                </dd>
              </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div><img src="{% get_static_prefix %}img/assets/{{ p.headshot }}" title="PlayerID: {{ p.player.playerid }}" class="largeface" onError="this.onerror=null;this.src='/static/img/assets/heads/not_found_0.png';"></div>
      </div>
      <div class="col-sm-4 text-left hidden-xs">
        <div class="row">
          <div class="col-xs-12">
            <dl>
              <dt>{% trans 'Rating & Potential' %}</dt>
              <dd>{{ p.player.overallrating }} / {{ p.player.potential }}</dd>
            </dl>
          </div>
          <div class="col-xs-12">
            <dl>
              <dt>{% trans 'Birthdate' %}</dt>
              <dd>{{p.player_age.birth_date}} ({{p.player_age.age}} yo.)</td></dd>
            </dl>
          </div>
          <div class="col-xs-12">
            <dl>
              <dt>{% trans 'Position(s)' %}</dt>
              <dd class="player-position">{{ p.player.preferredposition1 }}{% if p.player.preferredposition2 != -1 %} / {{ p.player.preferredposition2 }}{% endif %}{% if p.player.preferredposition3 != -1 %} / {{ p.player.preferredposition3 }}{% endif %}{% if p.player.preferredposition4 != -1 %} / {{ p.player.preferredposition4 }}{% endif %}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1>{{ p.player_name.knownas}}</h1>
    <h3>#{{ p.player.playerid}}</h3>
  </div>
  <div class="container">
    <h2 align="center">{% trans 'Share This Player' %}</h2>
    <div class="row justify-content-center">
      <div class="col-xs-3 hidden-xs"></div>
      <div class="col-sm-4 col-xs-12">
          {% if user.is_authenticated %}
            <input type="text" readonly="readonly" value="{{ request.build_absolute_uri }}?owner={{request.user}}" title="{% trans 'Share this player with your friends.' %}" id="shareinput">
          {% else %}
            <input type="text" readonly="readonly" value="{{ request.build_absolute_uri }}?owner=guest" title="{% trans 'Share this player with your friends.' %}" id="shareinput">
          {% endif %}
      </div>
      <div class="col-sm-2 col-xs-12">
        <button class="btn btn-primary" onclick="copyShareLink()"><span class="glyphicon glyphicon-copy"></span> {% trans 'COPY' %}</button>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 align="center">{% trans 'Player Info' %}</h2>
    <div class="row player-info">
        <div class="col-md-6">
          <table width="100%" class="info-table">
            <tbody>
              <tr>
                <td>{% trans 'Name' %}</td>
                <td align="right">{{p.player_name.firstname}} {{p.player_name.lastname}}</td>
              </tr>
              {% if p.player_name.commonname %}
              <tr>
                <td>{% trans 'Common name' %}</td>
                <td align="right">{{p.player_name.commonname}}</td>
              </tr>
              {% endif %}
              {% if p.player_name.playerjerseyname %}
              <tr>
                <td>{% trans 'Jersey name' %}</td>
                <td align="right">{{p.player_name.playerjerseyname}}</td>
              </tr>
              {% endif %}
              <tr>
                <td>{% trans 'Birthdate' %}</td>
                <td align="right">{{p.player_age.birth_date}} ({{p.player_age.age}} yo.)</td>
              </tr>
              <tr>
                <td>{% trans 'Height & Weight' %}</td>
                <td align="right"><span id="p_height">{{ p.player.height }}</span> / <span id="p_weight">{{ p.player.weight }}</span></td>
              </tr>
              <tr>
                <td>{% trans 'Position' %}</td>
                <td class="player-position" align="right">{{p.player.preferredposition1}}</td>
              </tr>
              {% if p.player.preferredposition2 != -1 %}
              <tr>
                <td>{% trans 'Other Positions' %}</td>
                <td class="player-position" align="right">{{ p.player.preferredposition2 }}{% if p.player.preferredposition3 != -1 %} / {{ p.player.preferredposition3 }}{% endif %}{% if p.player.preferredposition4 != -1 %} / {{ p.player.preferredposition4 }}{% endif %}</td>
              </tr>
              {% endif %}
              <tr>
                <td>{% trans 'Nationality' %}</td>
                <td align="right">{{ p.player.nationality.nationname }} <img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" title="{{ p.player.nationality.nationname}} (ID: {{ p.player.nationality.nationid }})" class="flag"></td>
              </tr>
              <tr>
                <td>{% trans 'League' %}</td>
                <td align="right">{{p.player_teams.club_team.league.leaguename}} <img src="{% get_static_prefix %}img/assets/leagues/l{{ p.player_teams.club_team.league.leagueid }}.png" title="{{p.player_teams.club_team.league.leaguename}} (ID: {{p.player_teams.club_team.league.leagueid}})" class="crest"></td>
              </tr>
              <tr>
                <td>{% trans 'Club' %}</td>
                <td align="right">
                  {% if p.player_contract.isloanedout %}
                  {{p.player_contract.loanedto_clubname}} 
                  <span style="margin-left: 5px;" class="mytooltip onloanlabel">L<span class="tooltiptext">{% trans 'This player is loaned from:' %} {{p.player_teams.club_team.team.teamname}}.</span></span>
                  <a href="{% url 'teams' %}{{p.player_contract.loanedto_clubid}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_contract.loanedto_clubid }}.png" title="{% trans 'Loaned from:' %} {{p.player_teams.club_team.team.teamname}}" class="crest"></a>
                  {% else %}
                  {{p.player_teams.club_team.team.teamname}} 
                  <a href="{% url 'teams' %}{{p.player_teams.club_team.team.teamid}}"><img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.team.teamid }}.png" title="{{ p.player_teams.club_team.team.teamname }} (ID: {{p.player_teams.club_team.team.teamid}})" class="crest"></a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>{% trans 'Contract' %}</td>
                <td align="right">{{ p.player_contract.jointeamdate }} - {{p.player_contract.enddate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table width="100%" class="info-table">
            <tbody>
              <tr>
                <td>{% trans 'Overall' %} </td>
                <td align="right"><span class="ratinglabel rat{{p.player.overallrating}}">{{ p.player.overallrating }}</span></td>
              </tr>
              <tr>
                <td>{% trans 'Potential' %} </td>
                <td align="right"><span class="ratinglabel rat{{p.player.potential}}">{{ p.player.potential }}</span> </td>
              </tr>
              <tr>
                <td>{% trans 'Strong Foot' %}</td>
                <td class="strong-foot" align="right">{{ p.player.preferredfoot }}</td>
              </tr>
              <tr>
                <td>{% trans 'Workrates' %}</td>
                <td align="right"> <span class="workrate">{{ p.player.attackingworkrate }}</span> / <span class="workrate">{{ p.player.defensiveworkrate }}</span></td>
              </tr>
              <tr>
                <td>{% trans 'Skill moves' %}</td>
                <td align="right"> {{ p.player.skillmoves|add:1 }} <span style="color:yellow">&starf;</span></td>
              </tr>
              <tr>
                <td>{% trans 'Weak foot' %}</td>
                <td align="right"> {{ p.player.weakfootabilitytypecode }} <span style="color:yellow">&starf;</span></td>
              </tr>
              <tr>
                <td>{% trans 'Int. Reputation' %}</td>
                <td align="right"> {{ p.player.internationalrep }} <span style="color:yellow">&starf;</span></td>
              </tr>
              {% if p.release_clause > 0 %}
              <tr>
                <td>{% trans 'Release Clause' %}</td>
                <td align="right">{{ p.formated_release_clause }} {{ request.session.currency_symbol }}</td>
              </tr>
              {% endif %}
              <tr>
                <td>{% trans 'Value' %}</td>
                <td align="right">{{ p.player_value.formated_value }} {{ request.session.currency_symbol }}</td>
              </tr>
              <tr>
                <td>{% trans 'Wage' %}</td>
                <td align="right">{{ p.player_wage.formated_wage }} {{ request.session.currency_symbol }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="container" style="padding-top: 20px">
    <h2 align="center">{% trans 'Player Attributes' %}</h2>
    <div class="row player-attributes">
      {% if p.player.preferredposition1 == 0 %}
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'GOALKEEPER' %}</h3>
        <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'GK Diving' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkdiving}}">{{ p.player.gkdiving }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'GK Handling' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkhandling}}">{{ p.player.gkhandling }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'GK Kicking' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkkicking}}">{{ p.player.gkkicking }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'GK Positioning' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkpositioning}}">{{ p.player.gkpositioning }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'GK Reflex' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkreflexes}}">{{ p.player.gkreflexes }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'ATTACK' %}</h3>
        <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'Crossing' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.crossing}}">{{ p.player.crossing }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Finishing' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.finishing}}">{{ p.player.finishing }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Heading Accuracy' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.headingaccuracy}}">{{ p.player.headingaccuracy }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Short Passing' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.shortpassing}}">{{ p.player.shortpassing }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Volleys' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.volleys}}">{{ p.player.volleys }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'DEFENDING' %}</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'Marking' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.marking}}">{{ p.player.marking }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Standing Tackle' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.standingtackle}}">{{ p.player.standingtackle }}</span> </td>
            </tr>
            <tr>
              <td>{% trans 'Sliding Tackle' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.slidingtackle}}">{{ p.player.slidingtackle }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'SKILL' %}</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'Dribbling' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.dribbling}}">{{ p.player.dribbling }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Curve' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.curve}}">{{ p.player.curve }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Free Kick Accuracy' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.freekickaccuracy}}">{{ p.player.freekickaccuracy }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Long Passing' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.longpassing}}">{{ p.player.longpassing }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Ball Control' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.ballcontrol}}">{{ p.player.ballcontrol }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'POWER' %}</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'Shot Power' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.shotpower}}">{{ p.player.shotpower }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Jumping' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.jumping}}">{{ p.player.jumping }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Stamina' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.stamina}}">{{ p.player.stamina }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Strength' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.strength}}">{{ p.player.strength }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Long Shots' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.longshots}}">{{ p.player.longshots }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'MOVEMENT' %}</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'Acceleration' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.acceleration}}">{{ p.player.acceleration }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Sprint Speed' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.sprintspeed}}">{{ p.player.sprintspeed }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Agility' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.agility}}">{{ p.player.agility }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Reactions' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.reactions}}">{{ p.player.reactions }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Balance' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.balance}}">{{ p.player.balance }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">{% trans 'MENTALITY' %}</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>{% trans 'Aggression' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.aggression}}">{{ p.player.aggression }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Composure' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.composure}}">{{ p.player.composure }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Interceptions' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.interceptions}}">{{ p.player.interceptions }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Attack Positioning' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.positioning}}">{{ p.player.positioning }}</span></td>
            </tr>
            <tr>
              <td>{% trans 'Vision' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.vision}}">{{ p.player.vision }}</span></td>
            </tr>
			      <tr>
              <td>{% trans 'Penalties' %}</td>
              <td align="right"><span class="ratinglabel rat{{p.player.penalties}}">{{ p.player.penalties }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 align="center">{% trans 'Player Statistics' %}</h2>
    <div class="row player-statistics">
        <div class="col-md-6">
          <table width="100%">
            <tbody>
              <tr>
                <td>{% trans 'League' %} - {% trans 'Goals' %}</td>
                <td align="right"> {{ p.player_teams.club_team.team_links.leaguegoals }} </td>
              </tr>
              <tr>
                <td>{% trans 'League' %} - {% trans 'Yellow Cards' %}</td>
                <td align="right"> {{ p.player_teams.club_team.team_links.yellows }} </td>
              </tr>
              <tr>
                <td>{% trans 'League' %} - {% trans 'Red Cards' %}</td>
                <td align="right"> {{ p.player_teams.club_team.team_links.reds }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}