{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/player.css' %}">
{% endblock %}

{% block content %}
	<div class="container ">
    <div class="row">
      <div class="col-sm-4 text-right hidden-xs">
        <div class="row">
          <div class="col-xs-12">
            <dl>
              <dt>Nationality</dt>
              <dd>{{ p.player.nationality.nationname }} <img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" class="flag"></dd>
            </dl>
          </div>
          <div class="col-xs-12">
              <dl>
                <dt>League</dt>
                <dd>{{p.player_teams.club_team.league.leaguename}} <img src="{% get_static_prefix %}img/assets/leagues/l{{ p.player_teams.club_team.league.leagueid }}.png" class="crest"></dd>
              </dl>
          </div>
          <div class="col-xs-12">
              <dl>
                <dt>Club</dt>
                <dd>{{p.player_teams.club_team.teamname}} <img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" class="crest"></dd>
              </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div><img src="{% get_static_prefix %}img/assets/{{ p.headshot }}" title="PlayerID: {{ p.player.playerid }}" class="largeface" onError="this.onerror=null;this.src='/static/img/assets/heads/not_found_0.png';"></div>
      </div>
      <div class="col-sm-4 text-left hidden-xs">
        <div class="row">
          <div class="col-xs-12">
            <dl>
              <dt>Rating & Potential</dt>
              <dd>{{ p.player.overallrating }} / {{ p.player.potential }}</dd>
            </dl>
          </div>
          <div class="col-xs-12">
            <dl>
              <dt>Birthdate</dt>
              <dd>{{p.player_age.birth_date}} ({{p.player_age.age}} yo.)</td></dd>
            </dl>
          </div>
          <div class="col-xs-12">
            <dl>
              <dt>Position(s)</dt>
              <dd class="player-position">{{ p.player.preferredposition1 }}{% if p.player.preferredposition2 != -1 %} / {{ p.player.preferredposition2 }}{% endif %}{% if p.player.preferredposition3 != -1 %} / {{ p.player.preferredposition3 }}{% endif %}{% if p.player.preferredposition4 != -1 %} / {{ p.player.preferredposition4 }}{% endif %}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1>{{ p.player_name.knownas}}</h1>
    <h3>#{{ p.player.playerid}}</h3>
  </div>
  <div class="container">
    <h2 align="center">Player Info</h2>
    <div class="row player-info">
        <div class="col-md-6">
          <table width="100%" class="info-table">
            <tbody>
              <tr>
                <td>Name</td>
                <td align="right">{{p.player_name.firstname}} {{p.player_name.lastname}}</td>
              </tr>
              {% if p.player_name.commonname %}
              <tr>
                <td>Common name</td>
                <td align="right">{{p.player_name.commonname}}</td>
              </tr>
              {% endif %}
              {% if p.player_name.playerjerseyname %}
              <tr>
                <td>Jersey name</td>
                <td align="right">{{p.player_name.playerjerseyname}}</td>
              </tr>
              {% endif %}
              <tr>
                <td>Birthdate</td>
                <td align="right">{{p.player_age.birth_date}} ({{p.player_age.age}} yo.)</td>
              </tr>
              <tr>
                <td>Height & Weight</td>
                <td align="right">{{ p.player.height }} cm / {{ p.player.weight }} kg</td>
              </tr>
              <tr>
                <td>Position</td>
                <td class="player-position" align="right">{{p.player.preferredposition1}}</td>
              </tr>
              {% if p.player.preferredposition2 != -1 %}
              <tr>
                <td>Other Positions</td>
                <td class="player-position" align="right">{{ p.player.preferredposition2 }}{% if p.player.preferredposition3 != -1 %} / {{ p.player.preferredposition3 }}{% endif %}{% if p.player.preferredposition4 != -1 %} / {{ p.player.preferredposition4 }}{% endif %}</td>
              </tr>
              {% endif %}
              <tr>
                <td>Nationality</td>
                <td align="right">{{p.player.nationality.nationname}} <img src="{% get_static_prefix %}img/assets/flags/f_{{ p.player.nationality.nationid }}.png" class="flag"></td>
              </tr>
              <tr>
                <td>League</td>
                <td align="right">{{p.player_teams.club_team.league.leaguename}} <img src="{% get_static_prefix %}img/assets/leagues/l{{ p.player_teams.club_team.league.leagueid }}.png" class="crest"></td>
              </tr>
              <tr>
                <td>Club</td>
                <td align="right">{{p.player_teams.club_team.teamname}} <img src="{% get_static_prefix %}img/assets/crest/l{{ p.player_teams.club_team.teamid }}.png" class="crest"></td>
              </tr>
              <tr>
                <td>Contract</td>
                <td align="right">{{ p.player_contract.jointeamdate }} - {{p.player_contract.enddate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table width="100%" class="info-table">
            <tbody>
              <tr>
                <td>Overall </td>
                <td align="right"><span class="ratinglabel rat{{p.player.overallrating}}">{{ p.player.overallrating }}</span></td>
              </tr>
              <tr>
                <td>Potential </td>
                <td align="right"><span class="ratinglabel rat{{p.player.potential}}">{{ p.player.potential }}</span> </td>
              </tr>
              <tr>
                <td>Strong Foot</td>
                <td class="strong-foot" align="right">{{ p.player.preferredfoot }}</td>
              </tr>
              <tr>
                <td>Workrates</td>
                <td align="right"> <span class="workrate">{{ p.player.attackingworkrate }}</span> / <span class="workrate">{{ p.player.defensiveworkrate }}</span></td>
              </tr>
              <tr>
                <td>Skill moves</td>
                <td align="right"> {{ p.player.skillmoves|add:1 }} <span style="color:yellow">&starf;</span></td>
              </tr>
              <tr>
                <td>Weak foot</td>
                <td align="right"> {{ p.player.weakfootabilitytypecode }} <span style="color:yellow">&starf;</span></td>
              </tr>
              <tr>
                <td>Int. Reputation</td>
                <td align="right"> {{ p.player.internationalrep }} <span style="color:yellow">&starf;</span></td>
              </tr>
              <tr>
                <td>Value</td>
                <td align="right">{{ p.player_value.formated_value }} &euro;</td>
              </tr>
              <tr>
                <td>Wage</td>
                <td align="right">{{ p.player_wage.formated_wage }} &euro;</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="container" style="padding-top: 20px">
    <h2 align="center">Player Attributes</h2>
    <div class="row player-attributes">
      {% if p.player.preferredposition1 == 0 %}
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">GOALKEEPER</h3>
        <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>GK Diving</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkdiving}}">{{ p.player.gkdiving }}</span></td>
            </tr>
            <tr>
              <td>GK Handling</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkhandling}}">{{ p.player.gkhandling }}</span></td>
            </tr>
            <tr>
              <td>GK Kicking</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkkicking}}">{{ p.player.gkkicking }}</span></td>
            </tr>
            <tr>
              <td>GK Positioning</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkpositioning}}">{{ p.player.gkpositioning }}</span></td>
            </tr>
            <tr>
              <td>GK Reflex</td>
              <td align="right"><span class="ratinglabel rat{{p.player.gkreflexes}}">{{ p.player.gkreflexes }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">ATTACK</h3>
        <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>Crossing</td>
              <td align="right"><span class="ratinglabel rat{{p.player.crossing}}">{{ p.player.crossing }}</span></td>
            </tr>
            <tr>
              <td>Finishing</td>
              <td align="right"><span class="ratinglabel rat{{p.player.finishing}}">{{ p.player.finishing }}</span></td>
            </tr>
            <tr>
              <td>Heading Accuracy</td>
              <td align="right"><span class="ratinglabel rat{{p.player.headingaccuracy}}">{{ p.player.headingaccuracy }}</span></td>
            </tr>
            <tr>
              <td>Short Passing</td>
              <td align="right"><span class="ratinglabel rat{{p.player.shortpassing}}">{{ p.player.shortpassing }}</span></td>
            </tr>
            <tr>
              <td>Volleys</td>
              <td align="right"><span class="ratinglabel rat{{p.player.volleys}}">{{ p.player.volleys }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">DEFENDING</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>Marking</td>
              <td align="right"><span class="ratinglabel rat{{p.player.marking}}">{{ p.player.marking }}</span></td>
            </tr>
            <tr>
              <td>Standing Tackle</td>
              <td align="right"><span class="ratinglabel rat{{p.player.standingtackle}}">{{ p.player.standingtackle }}</span> </td>
            </tr>
            <tr>
              <td>Sliding Tackle</td>
              <td align="right"><span class="ratinglabel rat{{p.player.slidingtackle}}">{{ p.player.slidingtackle }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">SKILL</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>Dribbling</td>
              <td align="right"><span class="ratinglabel rat{{p.player.dribbling}}">{{ p.player.dribbling }}</span></td>
            </tr>
            <tr>
              <td>Curve</td>
              <td align="right"><span class="ratinglabel rat{{p.player.curve}}">{{ p.player.curve }}</span></td>
            </tr>
            <tr>
              <td>Free Kick Accuracy</td>
              <td align="right"><span class="ratinglabel rat{{p.player.freekickaccuracy}}">{{ p.player.freekickaccuracy }}</span></td>
            </tr>
            <tr>
              <td>Long Passing</td>
              <td align="right"><span class="ratinglabel rat{{p.player.longpassing}}">{{ p.player.longpassing }}</span></td>
            </tr>
            <tr>
              <td>Ball Control</td>
              <td align="right"><span class="ratinglabel rat{{p.player.ballcontrol}}">{{ p.player.ballcontrol }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">POWER</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>Shot Power</td>
              <td align="right"><span class="ratinglabel rat{{p.player.shotpower}}">{{ p.player.shotpower }}</span></td>
            </tr>
            <tr>
              <td>Jumping</td>
              <td align="right"><span class="ratinglabel rat{{p.player.jumping}}">{{ p.player.jumping }}</span></td>
            </tr>
            <tr>
              <td>Stamina</td>
              <td align="right"><span class="ratinglabel rat{{p.player.stamina}}">{{ p.player.stamina }}</span></td>
            </tr>
            <tr>
              <td>Strength</td>
              <td align="right"><span class="ratinglabel rat{{p.player.strength}}">{{ p.player.strength }}</span></td>
            </tr>
            <tr>
              <td>Long Shots</td>
              <td align="right"><span class="ratinglabel rat{{p.player.longshots}}">{{ p.player.longshots }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">MOVEMENT</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>Acceleration</td>
              <td align="right"><span class="ratinglabel rat{{p.player.acceleration}}">{{ p.player.acceleration }}</span></td>
            </tr>
            <tr>
              <td>Sprint Speed</td>
              <td align="right"><span class="ratinglabel rat{{p.player.sprintspeed}}">{{ p.player.sprintspeed }}</span></td>
            </tr>
            <tr>
              <td>Agility</td>
              <td align="right"><span class="ratinglabel rat{{p.player.agility}}">{{ p.player.agility }}</span></td>
            </tr>
            <tr>
              <td>Reactions</td>
              <td align="right"><span class="ratinglabel rat{{p.player.reactions}}">{{ p.player.reactions }}</span></td>
            </tr>
            <tr>
              <td>Balance</td>
              <td align="right"><span class="ratinglabel rat{{p.player.balance}}">{{ p.player.balance }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="attrib-title">MENTALITY</h3>
		    <table width="100%" class="attrib-table">
          <tbody>
            <tr>
              <td>Aggression</td>
              <td align="right"><span class="ratinglabel rat{{p.player.aggression}}">{{ p.player.aggression }}</span></td>
            </tr>
            <tr>
              <td>Composure</td>
              <td align="right"><span class="ratinglabel rat{{p.player.composure}}">{{ p.player.composure }}</span></td>
            </tr>
            <tr>
              <td>Interceptions</td>
              <td align="right"><span class="ratinglabel rat{{p.player.interceptions}}">{{ p.player.interceptions }}</span></td>
            </tr>
            <tr>
              <td>Attack Positioning</td>
              <td align="right"><span class="ratinglabel rat{{p.player.positioning}}">{{ p.player.positioning }}</span></td>
            </tr>
            <tr>
              <td>Vision</td>
              <td align="right"><span class="ratinglabel rat{{p.player.vision}}">{{ p.player.vision }}</span></td>
            </tr>
			      <tr>
              <td>Penalties</td>
              <td align="right"><span class="ratinglabel rat{{p.player.penalties}}">{{ p.player.penalties }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 align="center">Player Statistics</h2>
    <div class="row player-statistics">
        <div class="col-md-6">
          <table width="100%">
            <tbody>
              <tr>
                <td>League - Goals</td>
                <td align="right"> {{ p.player_teams.club_team.stats.leaguegoals }} </td>
              </tr>
              <tr>
                <td>League - Yellow Cards</td>
                <td align="right"> {{ p.player_teams.club_team.stats.yellows }} </td>
              </tr>
              <tr>
                <td>League - Red Cards</td>
                <td align="right"> {{ p.player_teams.club_team.stats.reds }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}