{% extends 'base.html' %}
{% load static %}
{% load common_templatetags %}
{% load i18n %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}?v={% file_timestamp 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div id="ResetPassword" class="container form-container">
    <div>
      <div class="col-12">
        <h2>{% trans 'Set New Password' %}</h2>
      </div>
      <form method="post" novalidate>
      {% if form.errors %}
        {{ form.non_field_errors }}
      {% endif %}
        {% csrf_token %}
        {% include "includes/form.html" %}
        <button type="submit" class="btn btn-primary">{% trans 'Reset Password' %}</button>
      </form>
    </div>
  </div>
{% endblock %}