{% extends 'base.html' %}

{% load static %}
{% load common_templatetags %}
{% load i18n %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}?v={% file_timestamp 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div id="SignUp" class="container form-container">
		<div>
			<div class="col-12">
				<h2>{% trans 'Sign up' %}</h2>
			</div>
			<form method="post" novalidate>
				{% csrf_token %}
				{% include "includes/form.html" %}
				<button type="submit" class="btn btn-primary">{% trans 'Create an account' %}</button>
			</form>
		</div>
  </div>
{% endblock %}