{% extends 'base.html' %}

{% load static %}
{% load common_templatetags %}
{% load i18n %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}?v={% file_timestamp 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
      <h2>{% trans 'Success!' %}</h2>
      <p class="text-center">Your account has been created! You can <a href="{% url 'upload_career_save_file' %}">upload</a> your FIFA 19 career save now.</p>
  </div>
{% endblock %}